body {
    background-image: url(/img/oddduck2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.jsimg {
    width: 100%;
    /* margin-left: 60px; */
}

section {
    margin-top: 50px;
    max-width: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}


#results {
    overflow-y: scroll;
    max-height: 200px;
}

header {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
    
}

